.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shop-container{
  padding: 4rem 6rem;
  margin: 0 auto;
  display: grid;
  gap: 2.5rem;
}

img{
  width: 300px;
}

.product{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
}

.arrival-title{
  text-align: center;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 900px) {
  .shop-container { grid-template-columns: repeat(3, 1fr); }
}

